(
    const_tokens: [
        (name: "PlusEq", lowercase: "plus_eq", kind: "PLUS_EQ", text: "+="),
        (name: "MinusEq", lowercase: "minus_eq", kind: "MINUS_EQ", text: "-="),
        (name: "MulEq", lowercase: "mul_eq", kind: "MUL_EQ", text: "*="),
        (name: "DivEq", lowercase: "div_eq", kind: "DIV_EQ", text: "/="),
        (name: "ModEq", lowercase: "mod_eq", kind: "MOD_EQ", text: "%="),
        (name: "Plus", lowercase: "plus", kind: "PLUS", text: "+"),
        (name: "Minus", lowercase: "minus", kind: "MINUS", text: "-"),
        (name: "Asterisk", lowercase: "asterisk", kind: "ASTERISK", text: "*"),
        (name: "Slash", lowercase: "slash", kind: "SLASH", text: "/"),
        (name: "Percent", lowercase: "percent", kind: "PERCENT", text: "%"),
        (name: "EqEq", lowercase: "eq_eq", kind: "EQ_EQ", text: "=="),
        (name: "GreaterEq", lowercase: "greater_eq", kind: "GREATER_EQ", text: ">="),
        (name: "Greater", lowercase: "greater", kind: "GREATER", text: ">"),
        (name: "LessEq", lowercase: "less_eq", kind: "LESS_EQ", text: "<="),
        (name: "Less", lowercase: "less", kind: "LESS", text: "<"),
        (name: "Eq", lowercase: "eq", kind: "EQ", text: "="),
        (name: "NotEq", lowercase: "not_eq", kind: "NEQ", text: "!="),
        (name: "LParen", lowercase: "lparen", kind: "L_PAREN", text: "("),
        (name: "RParen", lowercase: "rparen", kind: "R_PAREN", text: ")"),
        (name: "LBracket", lowercase: "lbracket", kind: "L_BRACKET", text: "["),
        (name: "RBracket", lowercase: "rbracket", kind: "R_BRACKET", text: "]"),
        (name: "LBrace", lowercase: "lbrace", kind: "L_BRACE", text: "{"),
        (name: "RBrace", lowercase: "rbrace", kind: "R_BRACE", text: "}"),
        (name: "Dot", lowercase: "dot", kind: "DOT", text: "."),
        (name: "Colon", lowercase: "colon", kind: "COLON", text: ":"),
        (name: "QMark", lowercase: "qmark", kind: "QMARK", text: "?"),
        (name: "Semicolon", lowercase: "semicolon", kind: "SEMICOLON", text: ";"),
        (name: "Comma", lowercase: "comma", kind: "COMMA", text: ","),
        (name: "AndKw", lowercase: "and_kw", kind: "AND_KW", text: "and"),
        (name: "OrKw", lowercase: "or_kw", kind: "OR_KW", text: "or"),
        (name: "NotKw", lowercase: "not_kw", kind: "NOT_KW", text: "not"),
        (name: "InKw", lowercase: "in_kw", kind: "IN_KW", text: "in"),
        (name: "LetKw", lowercase: "let_kw", kind: "LET_KW", text: "let"),
        (name: "IfKw", lowercase: "if_kw", kind: "IF_KW", text: "if"),
        (name: "ElseKw", lowercase: "else_kw", kind: "ELSE_KW", text: "else"),
        (name: "ForeachKw", lowercase: "foreach_kw", kind: "FOREACH_KW", text: "foreach"),
        (name: "ContinueKw", lowercase: "continue_kw", kind: "CONTINUE_KW", text: "continue"),
        (name: "BreakKw", lowercase: "break_kw", kind: "BREAK_KW", text: "break"),
        (name: "ReturnKw", lowercase: "return_kw", kind: "RETURN_KW", text: "return"),
        (name: "TrueKw", lowercase: "true_kw", kind: "TRUE_KW", text: "true"),
        (name: "FalseKw", lowercase: "false_kw", kind: "FALSE_KW", text: "false"),
        (name: "FnKw", lowercase: "fn_kw", kind: "FN_KW", text: "fn"),
        (name: "StructKw", lowercase: "struct_kw", kind: "STRUCT_KW", text: "struct"),
        (name: "Newline", lowercase: "newline", kind: "NEWLINE", text: "\n"),
    ],
    tokens: [
        (name: "Id", lowercase: "id", kind: "ID", regex: "[a-zA-Z_][a-zA-Z0-9_]*"),
        (name: "NumLit", lowercase: "num_lit", kind: "NUM", regex: "([1-9][0-9]*|0x[0-9a-fA-F]+|0b[01]+|0[0-7]+|0)[uU]?[lL]?"),
        (name: "Str", lowercase: "str", kind: "STRING", regex: r#"'(\\['nt\\]|[^'\\])+'"#),
        (name: "MultilineStr", lowercase: "multiline_str", kind: "MULTILINE_STRING", regex: r#"'''([^']*|'[^']|''[^'])*'''"#),
        (name: "SingleLineComment", lowercase: "single_line_comment", kind: "SINGLE_LINE_COMMENT", regex: r#"//[^\n]*"#),
        (name: "BlockComment", lowercase: "block_comment", kind: "BLOCK_COMMENT", regex: r#"/\*([^*]|\**[^*/])*\*+/"#),
        (name: "Whitespace", lowercase: "whitespace", kind: "WHITESPACE", regex: r#"[ \t\r]+"#),
    ],
    nodes: [
        (name: "Expr", lowercase: "expr", kind: "Expr", children: []),
        (name: "ExprBlock", lowercase: "expr_block", kind: "ExprBlock", children: []),
        (name: "KExpr", lowercase: "kexpr", kind: "KExpr", children: [
            Single("Id", "id"),
            Single("Eq", "equal"),
            Single("Expr", "expr"),
        ]),
        (
            name: "ArrayLitExpr",
            lowercase: "array_lit_expr",
            kind: "ArrayLitExpr",
            children: [
                Single("LBracket", "lbracket"),
                Multiple("Expr", "expr"),
                Single("RBracket", "rbracket"),
            ],
        ),
        (
            name: "MapLitExpr",
            lowercase: "map_lit_expr",
            kind: "MapLitExpr",
            children: [
                Single("LBrace", "lbrace"),
                Multiple("KExpr", "expr"),
                Single("RBrace", "rbrace"),
            ],
        ),
        (
            name: "StrLit",
            lowercase: "str_lit",
            kind: "StrLit",
            children: [
                Optional("Str", "single_line_string"),
                Optional("MultilineStr", "multiline_string"),
            ],
        ),
        (
            name: "PrimaryExpr",
            lowercase: "primary_expr",
            kind: "PrimaryExpr",
            children: [],
        ),
        (
            name: "PrefixUnaryOpExpr",
            lowercase: "prefix_unary_op_expr",
            kind: "PrefixUnaryOpExpr",
            children: [
                Last("Expr", "expr"),
            ],
        ),
        (
            name: "InfixBinaryOpExpr",
            lowercase: "infix_binary_op_expr",
            kind: "InfixBinOpExpr",
            children: [
                First("Expr", "left_operand"),
                // TODO: uncomment this
                // Single("InfixBinOp", "operator"),
                Last("Expr", "right_operand"),
            ],
        ),
        (
            name: "FnCallExpr",
            lowercase: "fn_call_expr",
            kind: "FnCallExpr",
            children: [
                First("Expr", "fn"),
                Single("FnCallArgsList", "args"),
            ],
        ),
        (
            name: "FnCallArgsList",
            lowercase: "fn_call_args_list",
            kind: "FnCallArgsList",
            children: [
                Single("LParen", "lparen"),
                Multiple("FArg", "args"),
                Single("RParen", "rparen"),
            ],
        ),
        (
            name: "FArg",
            lowercase: "farg",
            kind: "FArg",
            children: [
                Optional("Expr", "as_expr"),
                Optional("KExpr", "as_kexpr"),
            ],
        ),
        (
            name: "TupleExpr",
            lowercase: "tuple_expr",
            kind: "TupleExpr",
            children: [
                Single("LParen", "lparen"),
                Multiple("Expr", "expr"),
                Single("RParen", "rparen"),
            ],
        ),
        (
            name: "BoolLit",
            lowercase: "bool_lit",
            kind: "BoolLit",
            children: [
                Optional("TrueKw", "true"),
                Optional("FalseKw", "false"),
            ],
        ),
        (
            name: "IndexExpr",
            lowercase: "index_expr",
            kind: "IndexExpr",
            children: [
                Single("Expr", "base"),
                Single("IndexExprBrackets", "brackets_expr"),
            ],
        ),
        (
            name: "IndexExprBrackets",
            lowercase: "index_expr_brackets",
            kind: "IndexExprBrackets",
            children: [
                Single("LBracket", "lbracket"),
                Single("Expr", "expr"),
                Single("RBracket", "rbracket"),
            ],
        ),
        (
            name: "Assignment",
            lowercase: "assignment",
            kind: "Assignment",
            children: [
                First("Expr", "target_expr"),
                // TODO: assignment operator
                Last("Expr", "value"),
            ],
        ),
        (
            name: "Declaration",
            lowercase: "declaration",
            kind: "Declaration",
            children: [
                Single("LetKw", "let"),
                Single("Id", "name"),
                Single("Eq", "eq"),
                Single("Expr", "value"),
            ],
        ),
        (
            name: "Conditional",
            lowercase: "conditional",
            kind: "Conditional",
            children: [
                Multiple("ConditionalBranch", "branches"),
                Single("ElseKw", "else_kw"),
                Single("ExprBlock", "else_block"),
            ],
        ),
        (
            name: "Foreach",
            lowercase: "foreach",
            kind: "Foreach",
            children: [
                Single("ForeachKw", "foreach_kw"),
                Single("ForInExpr", "for_in_expr"),
                Single("ExprBlock", "block"),
            ],
        ),
        (
            name: "ForInExpr",
            lowercase: "for_in_expr",
            kind: "ForInExpr",
            children: [
                First("Expr", "binding"),
                Single("InKw", "in_kw"),
                Last("Expr", "iterator"),
            ],
        ),
        (
            name: "ControlStatement",
            lowercase: "control_statement",
            kind: "ControlStatement",
            children: [
                Optional("ContinueKw", "continue_kw"),
                Optional("BreakKw", "break_kw"),
                Optional("ReturnKw", "return_kw"),
                Optional("Expr", "expr"),
            ],
        ),
        (
            name: "ExprStatement",
            lowercase: "expr_statement",
            kind: "ExprStatement",
            children: [
                Single("Expr", "expr"),
            ],
        ),
        (
            name: "Tuple",
            lowercase: "tuple",
            kind: "Tuple",
            children: [
                Single("LParen", "lparen"),
                Multiple("Expr", "expression"),
                Single("RParen", "rparen"),
            ],
        ),
        (
            name: "ConditionalBranch",
            lowercase: "conditional_branch",
            kind: "ConditionalBranch",
            children: [
                Single("IfKw", "if_kw"),
                Single("Expr", "condition"),
                Single("ExprBlock", "block"),
            ],
        ),
        (
            name: "Statement",
            lowercase: "statement",
            kind: "Statement",
            children: [
                Optional("ExprStatement", "expr_statement"),
                Optional("Assignment", "assignment_statement"),
                Optional("Declaration", "declaration_statement"),
                Optional("Conditional", "conditional_statement"),
                Optional("Foreach", "foreach_statement"),
            ],
        ),
        (
            name: "StructDecl",
            lowercase: "struct_decl",
            kind: "StructDecl",
            children: [
                Single("StructKw", "struct_kw"),
                Single("Id", "name"),
                Single("StructFieldList", "field_list"),
            ],
        ),
        (
            name: "StructFieldList",
            lowercase: "struct_field_list",
            kind: "StructFieldList",
            children: [
                Single("LBrace", "lbrace"),
                Multiple("StructField", "fields"),
                Single("RBrace", "rbrace"),
            ],
        ),
        (
            name: "StructField",
            lowercase: "struct_field",
            kind: "StructField",
            children: [
                Single("Id", "name"),
                Single("Colon", "colon"),
                Single("TypeRef", "type"),
            ]
        ),
        (
            name: "TypeRef",
            lowercase: "type_ref",
            kind: "TypeRef",
            children: [],
        ),
        (
            name: "TypeRefGenerics",
            lowercase: "type_ref_generics",
            kind: "TypeRefGenerics",
            children: [],
        ),
        (
            name: "LangItem",
            lowercase: "lang_item",
            kind: "LangItem",
            children: [
                Optional("Statement", "statement"),
                // Optional("FnDecl", "fn_decl"),
                Optional("StructDecl", "struct_decl"),
            ]
        ),
        (
            name: "Root",
            lowercase: "root",
            kind: "ROOT",
            children: [
                Multiple("LangItem", "lang_items"),
            ],
        ),
    ],
)
