(
    const_tokens: [
        (name: "PlusEq", lowercase: "plus_eq", text: "+="),
        (name: "MinusEq", lowercase: "minus_eq", text: "-="),
        (name: "MulEq", lowercase: "mul_eq", text: "*="),
        (name: "DivEq", lowercase: "div_eq", text: "/="),
        (name: "ModEq", lowercase: "mod_eq", text: "%="),
        (name: "Plus", lowercase: "plus", text: "+"),
        (name: "Minus", lowercase: "minus", text: "-"),
        (name: "Asterisk", lowercase: "asterisk", text: "*"),
        (name: "Slash", lowercase: "slash", text: "/"),
        (name: "Percent", lowercase: "percent", text: "%"),
        (name: "EqEq", lowercase: "eq_eq", text: "=="),
        (name: "GreaterEq", lowercase: "greater_eq", text: ">="),
        (name: "Greater", lowercase: "greater", text: ">"),
        (name: "LessEq", lowercase: "less_eq", text: "<="),
        (name: "Less", lowercase: "less", text: "<"),
        (name: "Eq", lowercase: "eq", text: "="),
        (name: "NotEq", lowercase: "not_eq", text: "!="),
        (name: "LParen", lowercase: "lparen", text: "("),
        (name: "RParen", lowercase: "rparen", text: ")"),
        (name: "LBracket", lowercase: "lbracket", text: "["),
        (name: "RBracket", lowercase: "rbracket", text: "]"),
        (name: "LBrace", lowercase: "lbrace", text: "{"),
        (name: "RBrace", lowercase: "rbrace", text: "}"),
        (name: "Dot", lowercase: "dot", text: "."),
        (name: "Colon", lowercase: "colon", text: ":"),
        (name: "QMark", lowercase: "qmark", text: "?"),
        (name: "Semicolon", lowercase: "semicolon", text: ";"),
        (name: "Comma", lowercase: "comma", text: ","),
        (name: "AndKw", lowercase: "and_kw", text: "and"),
        (name: "OrKw", lowercase: "or_kw", text: "or"),
        (name: "NotKw", lowercase: "not_kw", text: "not"),
        (name: "InKw", lowercase: "in_kw", text: "in"),
        (name: "LetKw", lowercase: "let_kw", text: "let"),
        (name: "IfKw", lowercase: "if_kw", text: "if"),
        (name: "ElseKw", lowercase: "else_kw", text: "else"),
        (name: "ForeachKw", lowercase: "foreach_kw", text: "foreach"),
        (name: "ContinueKw", lowercase: "continue_kw", text: "continue"),
        (name: "BreakKw", lowercase: "break_kw", text: "break"),
        (name: "ReturnKw", lowercase: "return_kw", text: "return"),
        (name: "TrueKw", lowercase: "true_kw", text: "true"),
        (name: "FalseKw", lowercase: "false_kw", text: "false"),
        (name: "FnKw", lowercase: "fn_kw", text: "fn"),
        (name: "StructKw", lowercase: "struct_kw", text: "struct"),
        (name: "Newline", lowercase: "newline", text: "\n"),
    ],
    tokens: [
        (name: "Ident", lowercase: "ident", regex: "[a-zA-Z_][a-zA-Z0-9_]*"),
        (name: "IntNumber", lowercase: "int_number", regex: "([1-9][0-9]*|0x[0-9a-fA-F]+|0b[01]+|0[0-7]+|0)[uU]?[lL]?"),
        (name: "Str", lowercase: "str", regex: r#"'(\\['nt\\]|[^'\\])+'"#),
        (name: "MultilineStr", lowercase: "multiline_str", regex: r#"'''([^']*|'[^']|''[^'])*'''"#),
        (name: "Comment", lowercase: "comment", regex: r#"//[^\n]*"#),
        (name: "BlockComment", lowercase: "block_comment", regex: r#"/\*([^*]|\**[^*/])*\*+/"#),
        (name: "Whitespace", lowercase: "whitespace", regex: r#"[ \t\r]+"#),
    ],
)
